body{background-color: #279c75a9}
body{color: rgb(6, 6, 90);
    font-family: 'Maven Pro', sans-serif;
    text-align: left;
    text-decoration: none
    }
h1{font-size: 50px;
    text-shadow: 10px 3px 10px rgba(6, 6, 90, 0.3);
    }
img {width: 12%;
    border: 3px solid rgb(6, 6, 90);
    border-radius: 0 30% 30% 30%;
    margin-right: 30px;
    float: left;
    }    
.text{font-size: 28px;
    width: 100%;
    padding: 50px 300px;
    }
a {color: rgb(13, 65, 24);
   font-size: 26px;
   text-decoration: none;
   padding-left: 40px;
   }
.links{text-align: justify;
}

/*
Vizitku ostyluj pomocí CSS:
OK Nastav barvu pozadí, popředí
OK Uprav velikost písma, zarovnání textu
OK Přidej si vlastní písmo např. z Google Fonts
OK Další vlastnosti dle vlastního uvážení
*/